@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  background: #ced8df;
  scroll-behavior: smooth;
  font-style: normal;
  line-height: 1.65;
  height: 300vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

/* Announcement Bar Section */
.announcement {
  display: block;
  background-color: #111111;
  font-size: 0.7rem;
  font-weight: 300;
  height: 4vh;
  width: 100%;
  text-align: center;
  position: relative;
}

.announcement p {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.announcement a {
  color: #cfcfcf;
}

.announcement a:hover {
  color: #dfdfdf;
  font-weight: 400;
}
/* End of Announcement Bar Section */

/* Nav Bar Section */
nav {
  display: flex;
  flex: 2;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 12vh;
  margin: 0;
  z-index: 2;
  top: 2.5%;
  border-bottom: 1px #1111110e solid;
  /*    background-color: rgb(243, 161, 161);*/
}

.logo {
  display: flex;
  width: 40%;
  margin-left: 1%;
  margin-right: 10%;
  margin-top: 10px;
}

.logo img {
  width: 350px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.some-links {
  display: flex;
  justify-content: space-around;
  width: 20%;
  padding-bottom: 5px;
  margin-right: 5%;
}

.some-link img {
  width: 20px;
  position: relative;
  top: 10%;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 8vh;
  position: relative;
}

.nav-links li {
  display: block;
  flex-grow: 1;
  /*background: rgb(219, 173, 173);
    transition: .3s;*/
  text-align: center;
  letter-spacing: 3px;
  font-size: 0.6rem;
  position: relative;
}

.nav-links li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-links li:hover {
  border-bottom: 2px solid black;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  letter-spacing: 3px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Responsiv max-w 1015px */
    @media only screen and (max-width: 1115px) {
    body {
        overflow-x: hidden;
    }

    .logo {
        display: flex;
        flex: 2;
        width: 40%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .logo img {
        width: 350px; /* EVT LAV % OM TIL PX, SÅ DU UNDGÅR SIZING */
        padding-bottom: 10px;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 88vh;
        top: 12vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        font-size: 0.875rem;
    }

    .nav-links li {
        opacity: 0;
        width: 100%;
        transition: 0.2s;
    }

    .nav-links li:hover {
        border-bottom: none;
    }

    .nav-links a {
        color: black;
        width: 80%;
        display: none;
    }

    .burger {
        display: block;
        margin-right: 5%;
    }

    .nav-active {
        transform: translateX(0%);
        background-color: #ffffff5b;
    }

    .nav-active a {
        display: block;
    }

    .nav-active li:hover {
        background: rgba(128, 128, 128, 0.15);
    }

    .nav-links li:hover a {
        color: black;
        font-weight: 700;
    }

    @keyframes navLinkFade {
        from {
        opacity: 0;
        transform: translateX(50px);
        }
        to {
        opacity: 1;
        transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
    /* End of Responsiv max-w 1015px */
/* End of Nav Bar Section */




/* Booking CTA Index */
#herobooking .bookingcta {
    display: flex;
    width: 200px;
    height: 60px;
    align-items: center;
    text-align: center;
    padding-left: 45px;
    background-color: #fff;
    border: 1px solid #000;
    letter-spacing: .05rem;
    text-transform: uppercase;
    transition: .5s ease;
    transition-property: background-color, color;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.379);
    z-index: 2;
    position: absolute; 
    left: 50%; 
    top:200px; 
    transform: translateX(-50%);
}

#herobooking .bookingcta:hover {
    background-color: #2d8fd5;
    color: black;
}
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
/* End of Booking CTA Index */



/* Index Gallery */
#index-gallery {
  width: 90%;
  height: 200vh;
  margin: 5vh auto;
  background-color: pink;
}

.container {
  width: 90%;
  margin: 2rem auto; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 5vw);
  grid-gap: 10px;
  margin-top: 10%;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery-item2 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 8;
}

.gallery-item3 {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery-item4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery-item5 {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery-item6 {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 17;
}

.gallery-item7 {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 8;
  grid-row-end: 17;
}

.gallery-item8 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 17;
  grid-row-end: 22;
}

.gallery-item9 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 17;
  grid-row-end: 20;
}

.gallery-item10 {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 17;
  grid-row-end: 22;
}

.gallery-item11 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 22;
  grid-row-end: 26;
}

.gallery-item12 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 20;
  grid-row-end: 24;
}

.gallery-item13 {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 22;
  grid-row-end: 26;
}

.gallery-item14 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 26;
  grid-row-end: 30;
}

.gallery-item15 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 24;
  grid-row-end: 26;
}

.gallery-item16 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 26;
  grid-row-end: 28;
}

.gallery-item17 {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 26;
  grid-row-end: 30;
}

.gallery-item18 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 28;
  grid-row-end: 30;
}
/* End of Index Gallery */
/* End of Index Gallery */